.super-mario {
    position: absolute;
    width: 200px;
    right: 805px;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    right: 850px;
    top: 400px;
  }
  
  .baloon {
    position: absolute;
    right: 500px;
  
  }
  
  .speach {
    position: absolute;
    right: 540px;
    font-size: 25px;
    z-index: 1;
    top: 100px ;
  }
  
  .bowser {
    position: absolute;
    right: 150px;
    top: 200px;
    width: 400px;
  }