

body{
    background-color: rgb(100, 200, 250)
}
header h1{
    text-align: center;
}
nav{
    text-align: center;
    background-color: aquamarine;
}
nav h3{
    display: inline-block;
    padding: 10px 80px;
    background-color: aquamarine;
    border: 0px;
    margin: 0px 90px;
  
    

}



.classificacao{
    text-align: center;
    list-style-type: none;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 150px;
    margin: 10px;
}
section.classificacao h3{
    font-size: 30px;
}
.classificacao li{
    list-style-type: none;
    font-size: 25px;
}


.fatos {
    background-color: aliceblue;
    padding: 100px;
    border-radius: 150px;
    margin: 10px;
}
section.fatos  p{
    display: inline-block;
    margin-left: 420px;
    margin-top: 100px;
}


section p.fato{
    margin-top: 50px;
    font-size: 25px;
}
section h3.fact-title{
    font-size: 40px;
    margin-top: 10px;
}
#boxe {
    position: absolute;
    top: 750px;
    left: 100px;
}
#olhos {
    position: absolute;
    top: 1270px;
    left: 100px;
    border-radius: 30px;
}
#flash{
    position: absolute;
    left: 100px;
    top: 1900px;
}
aside{
    font-size: 25px;
    text-align: center;
    padding: 20px;
    background-color: blanchedalmond;
    border-radius: 150px;
}
.referencias{
    text-align: center;
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 150px;
    margin: 10px;

}
.referencias li{
    list-style-type: none;

}