 
 
 h2 {color: green;
    font-size: 2em;}
    p {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;}
     body{background-color: rgb(255, 400, 200);
        font-size: 20px;
    }
    #Biodiversidade {background-color: yellow;
                    font-weight: bold;
    }
    .Listas {background-color: green;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    text-align: left;
    text-decoration: underline;}